<form method="POST" action="/new">
    <h1>Form</h1>
    <input type="text" name="nameText" placeholder="name">
    <input type="text" name="messageText" placeholder="message">
    <input type="submit"/>
</form>